<h1 class="text-secondary01"> Boas-vindas a sua Time Line!</h1>
        
<div>
    {{#each users}}
        <a href="/users/{{getUsername this}}">
            <div class="btn btn-outline-info users" style="margin-bottom: 10px;">
                <div class="card-heading bg-outline-info">
                    <a class="nav-link" href="/users/{{getUsername this}}">
                        {{getName this}}
                    </a>
                </div>
                {{#if (getBio this)}}
                    <div class="card-body">
                        <a class="nav-link" href="/users/{{getUsername this}}">
                        {{getBio this}}
                    </a>
                                
                    </div>
                {{/if}}
            </div>
        </a>
    {{/each}}
</div>
